body {
    background: #d0e8f5;
}

.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}

.image {
    height: auto;
    width: 20%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 1rem;
}

.image:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
