h1 {
    color: white;
    z-index: 2;
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.overlay {
    position: relative;
    text-align: center;
}

.button {
    background: #6202ee;
    color: white;
    outline: none;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 12px;
}
