body {
    background: white;
}

.middle {
    display: flex;
    justify-content: space-around;
}
h1 {
    color: black;
}
header {
    height: 100px;
}
.hg {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.img {
    height: auto;
    width: 99%;
}

.homePage {
    height: 100vh;
}
